machines = {
  "master-0" : {
    node_type : "both",
    node_ip : "",
    ip : "",
    ssh : {
      port     = 22
      username = ""
      password = ""
    }
  }
}

flux_git_http_auth = {
  username: ""
  password: ""
}