machines = {
  "master-0" : {
    node_type : "both",
    node_ip : "",
    # If you server behind the NAT network, then fill it wih your private ip
    ip : "",
    ssh : {
      port     = 22
      username = ""
      password = ""
    }
  }
}

flux_git_http_auth = {
  username: ""
  password: ""
}

### If you don't use docker, please fill below variables
########################################################

kubespray_src_path: ""
kubespray_kubeconf_save_path: ""
